{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">All</a></li>
              <li class="breadcrumb-item active" aria-current="page">Manual</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">PREDICTION</h1>
          </div>
      </div>
  </div>

  <form action="{{url_for('authentication_blueprint.manual_input')}}" method="POST">
    <fieldset>
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
							<label for="INSTALLMENT_TENOR_MONTHS">INSTALLMENT_TENOR_MONTHS</label>
							<input type="number" class="form-control" id="INSTALLMENT_TENOR_MONTHS" name="INSTALLMENT_TENOR_MONTHS" value="{{ form_values[0] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="APPLIED_AMOUNT">APPLIED_AMOUNT</label>
							<input type="number" class="form-control" id="APPLIED_AMOUNT" name="APPLIED_AMOUNT" value="{{ form_values[1] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="APPROVED_AMOUNT">APPROVED_AMOUNT</label>
							<input type="number" class="form-control" id="APPROVED_AMOUNT" name="APPROVED_AMOUNT" value="{{ form_values[2] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="INTEREST_RATE_PA">INTEREST_RATE_PA</label>
							<input type="number" class="form-control" id="INTEREST_RATE_PA" name="INTEREST_RATE_PA" value="{{ form_values[3] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="FINAL_PD">FINAL_PD</label>
							<input type="number" class="form-control" id="FINAL_PD" name="FINAL_PD" value="{{ form_values[4] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="RnR">RnR</label>
							<select class="form-control" id="RnR" name="RnR" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="0" {% if form_values and form_values[5] == '0' %}selected{% endif %}>No</option>
								<option value="1" {% if form_values and form_values[5] == '1' %}selected{% endif %}>Yes</option>
							</select>
						</div>						
						  <div class="mb-4">
							<label for="Financing_Amount_Principal">Financing_Amount_Principal</label>
							<input type="number" class="form-control" id="Financing_Amount_Principal" name="Financing_Amount_Principal" value="{{ form_values[6] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Financing_Amount_Interest">Financing_Amount_Interest</label>
							<input type="number" class="form-control" id="Financing_Amount_Interest" name="Financing_Amount_Interest" value="{{ form_values[7] }}" step="any" required>
						</div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
							<label for="YIB">YIB</label>
							<input type="number" class="form-control" id="YIB" name="YIB" value="{{ form_values[8] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Female_Y">Female_Y</label>
							<select class="form-control" id="Female_Y" name="Female_Y" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="0" {% if form_values and form_values[9] == '0' %}selected{% endif %}>No</option>
								<option value="1" {% if form_values and form_values[9] == '1' %}selected{% endif %}>Yes</option>
							</select>
						</div>
						
						  <div class="mb-4">
							<label for="Avg_Age_When_apply">Avg_Age_When_apply</label>
							<input type="number" class="form-control" id="Avg_Age_When_apply" name="Avg_Age_When_apply" value="{{ form_values[10] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Origination_fee">Origination_fee</label>
							<input type="number" class="form-control" id="Origination_fee" name="Origination_fee" value="{{ form_values[11] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Total_investors">Total_investors</label>
							<input type="number" class="form-control" id="Total_investors" name="Total_investors" value="{{ form_values[12] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Avg_investor_investment">Avg_investor_investment</label>
							<input type="number" class="form-control" id="Avg_investor_investment" name="Avg_investor_investment" value="{{ form_values[13] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Guarantor_invested">Guarantor_invested</label>
							<select class="form-control" id="Guarantor_invested" name="Guarantor_invested" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="0" {% if form_values and form_values[14] == '0' %}selected{% endif %}>No</option>
								<option value="1" {% if form_values and form_values[14] == '1' %}selected{% endif %}>Yes</option>
							</select>
						</div>
                        <div class="mb-4">
							<label for="days_to_disb">days_to_disb</label>
							<input type="number" class="form-control" id="days_to_disb" name="days_to_disb" value="{{ form_values[15] }}" step="any" required>
						</div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
							<label for="Day_disbursed">Day_disbursed</label>
							<input type="number" class="form-control" id="Day_disbursed" name="Day_disbursed" value="{{ form_values[16] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Day_hosted">Day_hosted</label>
							<input type="number" class="form-control" id="Day_hosted" name="Day_hosted" value="{{ form_values[17] }}" step="any" required>
						</div>
						<div class="mb-4">
							<label for="Nature_of_Business">Nature_of_Business</label>
							<select class="form-control" id="Nature_of_Business" name="Nature_of_Business"  required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="Accommodation & Food Service Activities" {% if form_values and form_values[18] == 'Accommodation & Food Service Activities' %}selected{% endif %}>Accommodation & Food Service Activities</option>
								<option value="Administrative and Support Service Activities" {% if form_values and form_values[18] == 'Administrative and Support Service Activities' %}selected{% endif %}>Administrative and Support Service Activities</option>
								<option value="Agriculture, Forestry and Fishing" {% if form_values and form_values[18] == 'Agriculture, Forestry and Fishing' %}selected{% endif %}>Agriculture, Forestry and Fishing</option>
								<option value="Arts, Entertainment and Recreation" {% if form_values and form_values[18] == 'Arts, Entertainment and Recreation' %}selected{% endif %}>Arts, Entertainment and Recreation</option>
								<option value="Construction" {% if form_values and form_values[18] == 'Construction' %}selected{% endif %}>Construction</option>
								<option value="Education" {% if form_values and form_values[18] == 'Education' %}selected{% endif %}>Education</option>
								<option value="Financial and Insurance/Takaful Activities" {% if form_values and form_values[18] == 'Financial and Insurance/Takaful Activities' %}selected{% endif %}>Financial and Insurance/Takaful Activities</option>
								<option value="Human Health and Social Work Activities" {% if form_values and form_values[18] == 'Human Health and Social Work Activities' %}selected{% endif %}>Human Health and Social Work Activities</option>
								<option value="Manufacturing" {% if form_values and form_values[18] == 'Manufacturing' %}selected{% endif %}>Manufacturing</option>
								<option value="Other Service Activities" {% if form_values and form_values[18] == 'Other Service Activities' %}selected{% endif %}>Other Service Activities</option>
								<option value="Professional, Scientific & Technical Activities" {% if form_values and form_values[18] == 'Professional, Scientific & Technical Activities' %}selected{% endif %}>Professional, Scientific & Technical Activities</option>
								<option value="Real-Estate Activities" {% if form_values and form_values[18] == 'Real-Estate Activities' %}selected{% endif %}>Real-Estate Activities</option>
								<option value="Transportation & Storage" {% if form_values and form_values[18] == 'Transportation & Storage' %}selected{% endif %}>Transportation & Storage</option>
								<option value="Water, Sewerage & Waste Mgmt & Related Activities" {% if form_values and form_values[18] == 'Water, Sewerage & Waste Mgmt & Related Activities' %}selected{% endif %}>Water, Sewerage & Waste Mgmt & Related Activities</option>
								<option value="Wholesale & Retail (incl Motor Vehicle Repairs)" {% if form_values and form_values[18] == 'Wholesale & Retail (incl Motor Vehicle Repairs)' %}selected{% endif %}>Wholesale & Retail (incl Motor Vehicle Repairs)</option>
							</select>
						</div>
						
						  <div class="mb-4">
							<label for="Entity">Entity</label>
							<select class="form-control" id="Entity" name="Entity" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="Partnership" {% if form_values and form_values[19] == 'Partnership' %}selected{% endif %}>Partnership</option>
								<option value="Private Limited" {% if form_values and form_values[19] == 'Private Limited' %}selected{% endif %}>Private Limited</option>
								<option value="Sole Proprietor" {% if form_values and form_values[19] == 'Sole Proprietor' %}selected{% endif %}>Sole Proprietor</option>
							</select>
						</div>						
						  <div class="mb-4">
							<label for="STATE">STATE</label>
							<select class="form-control" id="STATE" name="STATE" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="JOHOR" {% if form_values and form_values[20] == 'JOHOR' %}selected{% endif %}>JOHOR</option>
								<option value="KEDAH" {% if form_values and form_values[20] == 'KEDAH' %}selected{% endif %}>KEDAH</option>
								<option value="KELANTAN" {% if form_values and form_values[20] == 'KELANTAN' %}selected{% endif %}>KELANTAN</option>
								<option value="MELAKA" {% if form_values and form_values[20] == 'MELAKA' %}selected{% endif %}>MELAKA</option>
								<option value="NEGERI SEMBILAN" {% if form_values and form_values[20] == 'NEGERI SEMBILAN' %}selected{% endif %}>NEGERI SEMBILAN</option>
								<option value="PAHANG" {% if form_values and form_values[20] == 'PAHANG' %}selected{% endif %}>PAHANG</option>
								<option value="PERAK" {% if form_values and form_values[20] == 'PERAK' %}selected{% endif %}>PERAK</option>
								<option value="PERLIS" {% if form_values and form_values[20] == 'PERLIS' %}selected{% endif %}>PERLIS</option>
								<option value="PULAU PINANG" {% if form_values and form_values[20] == 'PULAU PINANG' %}selected{% endif %}>PULAU PINANG</option>
								<option value="SABAH" {% if form_values and form_values[20] == 'SABAH' %}selected{% endif %}>SABAH</option>
								<option value="SARAWAK" {% if form_values and form_values[20] == 'SARAWAK' %}selected{% endif %}>SARAWAK</option>
								<option value="SELANGOR" {% if form_values and form_values[20] == 'SELANGOR' %}selected{% endif %}>SELANGOR</option>
								<option value="TERENGGANU" {% if form_values and form_values[20] == 'TERENGGANU' %}selected{% endif %}>TERENGGANU</option>
								<option value="WILAYAH PERSEKUTUAN" {% if form_values and form_values[20] == 'WILAYAH PERSEKUTUAN' %}selected{% endif %}>WILAYAH PERSEKUTUAN</option>
							</select>
						</div>
						
						  <div class="mb-4">
							<label for="LOAN_PURPOSE">LOAN_PURPOSE</label>
							<select class="form-control" id="LOAN_PURPOSE" name="LOAN_PURPOSE" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="Asset acquisition" {% if form_values and form_values[21] == 'Asset acquisition' %}selected{% endif %}>Asset acquisition</option>
								<option value="Contract financing" {% if form_values and form_values[21] == 'Contract financing' %}selected{% endif %}>Contract financing</option>
								<option value="Debt consolidation / refinancing" {% if form_values and form_values[21] == 'Debt consolidation / refinancing' %}selected{% endif %}>Debt consolidation / refinancing</option>
								<option value="Marketing and advertising" {% if form_values and form_values[21] == 'Marketing and advertising' %}selected{% endif %}>Marketing and advertising</option>
								<option value="Other business purpose" {% if form_values and form_values[21] == 'Other business purpose' %}selected{% endif %}>Other business purpose</option>
								<option value="Purchase of equipment" {% if form_values and form_values[21] == 'Purchase of equipment' %}selected{% endif %}>Purchase of equipment</option>
								<option value="Upgrading / Renovation" {% if form_values and form_values[21] == 'Upgrading / Renovation' %}selected{% endif %}>Upgrading / Renovation</option>
								<option value="Working Capital" {% if form_values and form_values[21] == 'Working Capital' %}selected{% endif %}>Working Capital</option>
							</select>
						</div>						
						  <div class="mb-4">
							<label for="FIN_GRADE">FIN_GRADE</label>
							<select class="form-control" id="FIN_GRADE" name="FIN_GRADE" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="A1" {% if form_values and form_values[22] == 'A1' %}selected{% endif %}>A1</option>
								<option value="A2" {% if form_values and form_values[22] == 'A2' %}selected{% endif %}>A2</option>
								<option value="B3" {% if form_values and form_values[22] == 'B3' %}selected{% endif %}>B3</option>
								<option value="B4" {% if form_values and form_values[22] == 'B4' %}selected{% endif %}>B4</option>
								<option value="C5" {% if form_values and form_values[22] == 'C5' %}selected{% endif %}>C5</option>
								<option value="C6" {% if form_values and form_values[22] == 'C6' %}selected{% endif %}>C6</option>
								<option value="D7" {% if form_values and form_values[22] == 'D7' %}selected{% endif %}>D7</option>
								<option value="D8" {% if form_values and form_values[22] == 'D8' %}selected{% endif %}>D8</option>
								<option value="X1" {% if form_values and form_values[22] == 'X1' %}selected{% endif %}>X1</option>
							</select>
						</div>
						<div class="mb-4">
							<label for="Race">Race</label>
							<select class="form-control" id="Race" name="Race" required>
								<option disabled selected value> -- Select an Option -- </option>
								<option value="Chinese" {% if form_values and form_values[23] == 'Chinese' %}selected{% endif %}>Chinese</option>
								<option value="Indian" {% if form_values and form_values[23] == 'Indian' %}selected{% endif %}>Indian</option>
								<option value="Malay" {% if form_values and form_values[23] == 'Malay' %}selected{% endif %}>Malay</option>
								<option value="Others" {% if form_values and form_values[23] == 'Others' %}selected{% endif %}>Others</option>
							</select>
						</div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="mb-4">
                        <div class="form-group row ">
                            <input class="btn btn-primary" type="submit" value="Result">
                          </div>
                    </div>
                      
                      <!--Prediction Result-->
                      <div class="card col-sm-10">
                        <div class="card-body p-3">
                          <div class="row">
                            <div class="col-sm-8">
                              <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Prediction Score</p>
                                <h5 class="font-weight-bolder mb-0">
                                  <span class="text-success text-sm font-weight-bolder"><strong style="color:red">{{ result }}</strong></span>
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</fieldset>
</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
