{% extends "layouts/base.html" %}

{% block title %}CTOS Prediction{% endblock %} 

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="#">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="#">All</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manual</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">CTOS PREDICTION</h1>
        </div>
    </div>
</div>

<form action="{{url_for('authentication_blueprint.ctos_manual')}}" method="POST">
    <fieldset>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow components-section">
                    <div class="card-body">
                        <div class="row mb-4">
                            <!-- Column 1 -->
                            <div class="col-lg-4 col-sm-6">
                                {% for field in ['NO_OF_COMPANY', 'STATUS_ACTIVE', 'STATUS_DISSOLVED', 'STATUS_EXISTING', 'STATUS_TERMINATED', 'STATUS_WINDING UP', 'STATUS_NONE', 'STATUS_EXPIRED', 'STATUS_STRIKING OFF', 'POSITION_DIRECTOR / SHARE HOLDER', 'POSITION_DIRECTOR', 'POSITION_SOLE PROPRIETOR', 'POSITION_SHARE HOLDER', 'POSITION_PARTNER'] %}
                                <div class="mb-4">
                                    <label for="{{ field }}">{{ field }}</label>
                                    <input type="number" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ form_values[loop.index0] }}" step="any" required>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Column 2 -->
                            <div class="col-lg-4 col-sm-6">
                                {% for field in ['APPLICATION_APPROVED', 'APPLICATION_PENDING', 'BORROWER_LIMIT', 'BORROWER_OUTSTANDING', 'MIN_DATE_YEAR', 'FACILITIES_INSTALLMENT', 'CONDUCT_LAST_12_MONTHS', 'CONDUCT_LAST_9_MONTHS', 'CONDUCT_LAST_6_MONTHS', 'CONDUCT_LAST_3_MONTHS', 'CONDUCT_EARLIEST_3_MONTHS', 'CONDUCT_EARLIEST_6_MONTHS', 'CONDUCT_EARLIEST_9_MONTHS', 'NO_OF_SECURE'] %}
                                <div class="mb-4">
                                    <label for="{{ field }}">{{ field }}</label>
                                    <input type="number" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ form_values[loop.index0 + 14] }}" step="any" required>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Column 3 -->
                            <div class="col-lg-4 col-sm-6">
                                {% for field in ['TOTAL_SECURE', '%_LIMIT_SECURE', 'NO_OF_UNSECURE', 'TOTAL_UNSECURE', '%_LIMIT_UNSECURE'] %}
                                <div class="mb-4">
                                    <label for="{{ field }}">{{ field }}</label>
                                    <input type="number" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ form_values[loop.index0 + 28] }}" step="any" required>
                                </div>
                                {% endfor %}
                                {% for field in ['TRADE_REF', 'ETR_PLUS'] %}
                                <div class="mb-4">
                                    <label for="{{ field }}">{{ field }} [Yes(1), No(0)]</label>
                                    <select class="form-control" id="{{ field }}" name="{{ field }}" required>
                                        <option disabled selected value> -- Select an Option -- </option>
                                        <option value="0" {% if form_values and form_values[loop.index0 + 33] == '0' %}selected{% endif %}>No</option>
                                        <option value="1" {% if form_values and form_values[loop.index0 + 33] == '1' %}selected{% endif %}>Yes</option>
                                    </select>
                                </div>
                                {% endfor %}
                                {% for field in ['ENQUIRY_FI', 'ENQUIRY_NONFI', 'ENQUIRY_LAWYER', 'FICO_SCORE', 'NO_OF_FICO_FACTOR'] %}
                                <div class="mb-4">
                                    <label for="{{ field }}">{{ field }}</label>
                                    <input type="number" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ form_values[loop.index0 + 35] }}" step="any" required>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="mb-4">
                                    <input class="btn btn-primary" type="submit" value="Result">
                                </div>
                                <!-- Prediction Result -->
                                <div class="card col-sm-10">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="numbers">
                                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Prediction Score</p>
                                                    <h5 class="font-weight-bolder mb-0">
                                                        <span class="text-success text-sm font-weight-bolder"><strong style="color:red">{{ result }}</strong></span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

{% endblock content %}