{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .attribute-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        font-size: 12px;
    }

    .attribute-table th, .attribute-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        font-size: 12px;
    }

    .attribute-table th {
        background-color: #f2f2f2;
    }

    .attribute-table ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .attribute-table li {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .example td,
    .example th {
        font-size: 10px;
        color: gray;
    }


</style>

{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Pre</a></li>
              <li class="breadcrumb-item active" aria-current="page">CSV</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">PREDICTION (PRE) - CSV</h1>
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
        <div class="download-template">
            <button class="result-button">
                <a href="{{ url_for('home_blueprint.download_pretemplate') }}" download>Download CSV Template</a>
            </button>
        </div>
        <br>
        <form id="csvUploadForm" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <label for="csv_file">Upload CSV File:</label>
            {{ form.csv_file() }}
            <button type="button" class="result-button" onclick="uploadCSV()">Upload</button>
        </form>
      </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Categorical Data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Categorical Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="attribute-table">
                <tr>
                    <th>Attribute</th>
                    <th>Values</th>
                </tr>
                <tr>
                    <td><b>Female_Y</b></td>
                    <td>
                        <ul>
                            <li>Yes: 1</li>
                            <li>No: 0</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Nature_of_Business</b></td>
                    <td>
                        <ul>
                            <li>Accommodation & Food Service Activities</li>
                            <li>Administrative and Support Service Activities</li>
                            <li>Agriculture, Forestry and Fishing</li>
                            <li>Arts, Entertainment and Recreation</li>
                            <li>Construction</li>
                            <li>Education</li>
                            <li>Financial and Insurance/Takaful Activities</li>
                            <li>Human Health and Social Work Activities</li>
                            <li>Manufacturing</li>
                            <li>Other Service Activities</li>
                            <li>Professional, Scientific & Technical Activities</li>
                            <li>Real-Estate Activities</li>
                            <li>Transportation & Storage</li>
                            <li>Water, Sewerage & Waste Mgmt & Related Activities</li>
                            <li>Wholesale & Retail (incl Motor Vehicle Repairs)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Entity</b></td>
                    <td>
                        <ul>
                            <li>Partnership</li>
                            <li>Private Limited</li>
                            <li>Sole Proprietor</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>STATE</b></td>
                    <td>
                        <ul>
                            <li>JOHOR</li>
                            <li>KEDAH</li>
                            <li>KELANTAN</li>
                            <li>MELAKA</li>
                            <li>NEGERI SEMBILAN</li>
                            <li>PAHANG</li>
                            <li>PERAK</li>
                            <li>PERLIS</li>
                            <li>PULAU PINANG</li>
                            <li>SABAH</li>
                            <li>SARAWAK</li>
                            <li>SELANGOR</li>
                            <li>TERENGGANU</li>
                            <li>WILAYAH PERSEKUTUAN</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>LOAN_PURPOSE</b></td>
                    <td>
                        <ul>
                            <li>Asset acquisition</li>
                            <li>Contract financing</li>
                            <li>Debt consolidation / refinancing</li>
                            <li>Marketing and advertising</li>
                            <li>Other business purpose</li>
                            <li>Purchase of equipment</li>
                            <li>Upgrading / Renovation</li>
                            <li>Working Capital</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>Race</b></td>
                    <td>
                        <ul>
                            <li>Chinese</li>
                            <li>Indian</li>
                            <li>Malay</li>
                            <li>Others</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>        
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>

    <div class="card border-0 shadow">
        <div class="card-body">
            Example
            <div class="table-responsive example" id="Example">
                <table border="1" class="table table-success table-striped">
                    <thead>
                      <tr style="text-align: right;">
                        <th>APPLICATION_ID</th>
                        <th>APPLIED_AMOUNT</th>
                        <th>YIB</th>
                        <th>Female_Y</th>
                        <th>Avg_Age_When_apply</th>
                        <th>Nature_of_Business</th>
                        <th>Entity</th>
                        <th>STATE</th>
                        <th>LOAN_PURPOSE</th>
                        <th>Race</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>60000</td>
                        <td>7.75</td>
                        <td>1</td>
                        <td>46</td>
                        <td>Construction</td>
                        <td>Private Limited</td>
                        <td>WILAYAH PERSEKUTUAN</td>
                        <td>Working Capital</td>
                        <td>Malay</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
      </div>

      <br>

  <div class="card border-0 shadow">
    <div class="loading-overlay" id="loadingOverlay" style="display:none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="result">
        </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>


<script>
    // var eventSource;
    // console.log(eventSource)
    function uploadCSV() {
        var formData = new FormData($('#csvUploadForm')[0]);

        $('#loadingOverlay').show();

        // // Close the previous EventSource if it exists
        // if (eventSource) {
        //     console.log(eventSource)
        //     eventSource.close();
        // }

        $.ajax({
            url: '/pre_process',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#loadingOverlay').hide();
                // document.getElementById('status').innerHTML = "Processing complete";
                $('#result').html(data.table);
                $('#result').append('<br><button class="result-button"><a href="{{ url_for("home_blueprint.download_processed_csv") }}" download>Download Result</a></button>');
                // data.status = "";
                // eventSource.close();
            },
            error: function (error) {
                $('#loadingOverlay').hide();
                console.log("Error:", error);
            },
            complete: function () {
                // After the uploadCSV is complete (whether success or error), stop checking progress
                // This ensures that the progress is no longer checked after processing is done
                console.log('Processing complete.');
            }
        });

        // // Create a new EventSource
        // eventSource = new EventSource('/get_status?');

        // eventSource.onmessage = function (event) {
        //     var data = JSON.parse(event.data);
        //     document.getElementById('status').innerHTML = data.status;
        // };

        // eventSource.onerror = function (error) {
        //     console.error("Error:", error);

        //     // Handle error or retry logic if needed
        // };
}
</script>

{% endblock javascripts %}
